<a href="https://colab.research.google.com/github/boby808406/boby808406/blob/main/loyality_points.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from IPython.display import display

In [ ]:
df=pd.read_csv('/content/Analytics Position Case Study.csv',skiprows=3)

In [ ]:
df['Datetime'] = pd.to_datetime(df['Datetime'], format='%d-%m-%Y %H:%M')
df['Date'] = df['Datetime'].dt.date
df['Hour'] = df['Datetime'].dt.hour
df['Day'] = df['Datetime'].dt.day
df['Month'] = df['Datetime'].dt.month
df['Slot'] = np.where(df['Hour'] < 12, 'S1', 'S2')
df['Games_Played'] = 10

Part A - Calculating loyalty points

On each day, there are 2 slots for each of which the loyalty points are to be calculated:
S1 from 12am to 12pm
S2 from 12pm to 12am"
"Based on the above information and the data provided answer the following questions:
1. Find Playerwise Loyalty points earned by Players in the following slots:-
    a. 2nd October Slot S1
    b. 16th October Slot S2
    b. 18th October Slot S1
    b. 26th October Slot S2

In [ ]:
def calculate_loyalty_points(data, target_date, slot):

    filtered = data[(data['Date'] == target_date) & (data['Slot'] == slot)]
    result = filtered.groupby('User Id').agg(
        Total_Deposits=('Amount', lambda x: x[x > 0].sum()),
        Total_Withdrawals=('Amount', lambda x: abs(x[x < 0].sum())),
        Deposit_Count=('Amount', lambda x: (x > 0).sum()),
        Withdrawal_Count=('Amount', lambda x: (x < 0).sum())
    ).reset_index()

    result['Games_Played'] = 10
    result['Loyalty_Points'] = (
        0.01 * result['Total_Deposits'] +
        0.005 * result['Total_Withdrawals'] +
        0.001 * np.maximum(result['Deposit_Count'] - result['Withdrawal_Count'], 0) +
        0.2 * result['Games_Played']
    )

    return result.sort_values('Loyalty_Points', ascending=False)

print("\nðŸ“… 2nd October Slot S1 Results:")
oct2_s1 = calculate_loyalty_points(df, pd.to_datetime('2022-10-02').date(), 'S1')
display(oct2_s1)

print("\nðŸ“… 16th October Slot S2 Results:")
oct16_s2 = calculate_loyalty_points(df, pd.to_datetime('2022-10-16').date(), 'S2')
display(oct16_s2)

print("\nðŸ“… 18th October Slot S1 Results:")
oct18_s1 = calculate_loyalty_points(df, pd.to_datetime('2022-10-18').date(), 'S1')
display(oct18_s1)

print("\nðŸ“… 26th October Slot S2 Results:")
oct26_s2 = calculate_loyalty_points(df, pd.to_datetime('2022-10-26').date(), 'S2')
display(oct26_s2)

ðŸ“… 2nd October Slot S1 Results:

,User Id,Total_Deposits,Total_Withdrawals,Deposit_Count,Withdrawal_Count,Games_Played,Loyalty_Points
33,634,295671,0,1,0,10,2958.711
29,566,180041,0,1,0,10,1802.411
47,949,124500,0,1,0,10,1247.001
38,774,66000,0,1,0,10,662.001
37,688,62366,0,1,0,10,625.661
11,222,60632,0,1,0,10,608.321
36,672,60000,0,1,0,10,602.001
5,93,55000,0,2,0,10,552.002
16,365,45451,0,1,0,10,456.511
6,99,43478,0,1,0,10,436.781
14,310,40000,0,1,0,10,402.001
10,196,40000,0,1,0,10,402.001
17,370,39347,0,1,0,10,395.471
44,920,38490,0,2,0,10,386.902
23,487,30000,0,1,0,10,302.001
12,238,25000,0,1,0,10,252.001
9,159,22712,0,1,0,10,229.121
4,78,22000,0,1,0,10,222.001
42,845,22000,0,1,0,10,222.001
13,307,19315,0,1,0,10,195.151
32,625,17000,0,1,0,10,172.001
24,502,16538,0,1,0,10,167.381
35,663,15564,0,3,0,10,157.643
41,836,15000,0,1,0,10,152.001
43,856,15000,0,1,0,10,152.001
0,39,14200,0,1,0,10,144.001
19,403,10000,0,1,0,10,102.001
20,430,10000,0,1,0,10,102.001
7,106,10000,0,1,0,10,102.001
8,153,10000,0,1,0,10,102.001
2,52,9520,0,1,0,10,97.201
30,574,9000,0,1,0,10,92.001
25,517,8700,0,1,0,10,89.001
28,560,7797,0,1,0,10,79.971
1,47,7317,0,2,0,10,75.172
31,602,7028,0,1,0,10,72.281
45,936,6857,0,1,0,10,70.571
22,448,6000,0,1,0,10,62.001
27,542,6000,0,1,0,10,62.001
26,518,5650,0,2,0,10,58.502
39,784,5500,0,1,0,10,57.001
15,351,5479,0,1,0,10,56.791
18,396,3955,0,1,0,10,41.551
34,637,3800,0,1,0,10,40.001
40,829,3500,0,1,0,10,37.001
3,76,1659,0,1,0,10,18.591
21,435,1600,0,1,0,10,18.001
46,944,500,0,1,0,10,7.001

ðŸ“… 16th October Slot S2 Results:

,User Id,Total_Deposits,Total_Withdrawals,Deposit_Count,Withdrawal_Count,Games_Played,Loyalty_Points
27,634,298311,0,1,0,10,2985.111
32,786,120000,0,1,0,10,1202.001
7,175,80000,0,1,0,10,802.001
2,82,75110,0,4,0,10,753.104
9,196,45000,0,1,0,10,452.001
40,946,42000,0,1,0,10,422.001
37,861,40000,0,1,0,10,402.001
12,289,40000,0,1,0,10,402.001
38,884,33965,0,2,0,10,341.652
0,16,31305,0,2,0,10,315.052
39,920,30750,0,1,0,10,309.501
14,365,30000,0,1,0,10,302.001
20,471,21774,0,1,0,10,219.741
30,754,21297,0,1,0,10,214.971
21,497,20000,0,1,0,10,202.001
15,377,16963,0,1,0,10,171.631
26,618,15500,0,1,0,10,157.001
18,422,15000,0,1,0,10,152.001
22,509,13849,0,1,0,10,140.491
10,201,12730,0,1,0,10,129.301
13,296,11156,0,1,0,10,113.561
34,795,10922,0,2,0,10,111.222
16,407,10300,0,3,0,10,105.003
41,947,10000,0,1,0,10,102.001
23,532,9999,0,1,0,10,101.991
31,762,9988,0,1,0,10,101.881
4,133,8000,0,1,0,10,82.001
19,468,7500,0,1,0,10,77.001
11,204,7189,0,1,0,10,73.891
35,804,7133,0,1,0,10,73.331
25,567,6421,0,1,0,10,66.211
33,790,5800,0,1,0,10,60.001
6,164,5272,0,1,0,10,54.721
8,186,5000,0,1,0,10,52.001
24,565,4536,0,1,0,10,47.361
44,987,4000,0,1,0,10,42.001
28,657,3690,0,1,0,10,38.901
5,157,2000,0,1,0,10,22.001
17,421,1700,0,1,0,10,19.001
42,972,1600,0,1,0,10,18.001
29,663,1040,0,1,0,10,12.401
36,852,903,0,1,0,10,11.031
1,47,542,0,1,0,10,7.421
43,980,400,0,1,0,10,6.001
3,125,100,0,1,0,10,3.001

ðŸ“… 18th October Slot S1 Results:

,User Id,Total_Deposits,Total_Withdrawals,Deposit_Count,Withdrawal_Count,Games_Played,Loyalty_Points
33,634,544620,0,2,0,10,5448.202
11,245,150000,0,1,0,10,1502.001
8,162,130000,0,1,0,10,1302.001
23,460,67000,0,1,0,10,672.001
9,193,57000,0,1,0,10,572.001
19,421,53100,0,2,0,10,533.002
35,688,47400,0,1,0,10,476.001
16,389,37500,0,1,0,10,377.001
22,450,36000,0,1,0,10,362.001
0,16,33949,0,2,0,10,341.492
13,296,31688,0,3,0,10,318.883
5,93,30000,0,1,0,10,302.001
25,487,24000,0,1,0,10,242.001
10,233,23400,0,1,0,10,236.001
14,377,20826,0,1,0,10,210.261
2,45,20000,0,2,0,10,202.002
31,602,17091,0,1,0,10,172.911
30,565,17000,0,1,0,10,172.001
4,78,15000,0,1,0,10,152.001
39,836,15000,0,1,0,10,152.001
40,890,12000,0,1,0,10,122.001
42,946,10000,0,1,0,10,102.001
20,441,10000,0,1,0,10,102.001
41,927,9999,0,1,0,10,101.991
17,407,9000,0,1,0,10,92.001
29,553,8500,0,1,0,10,87.001
6,97,6000,0,1,0,10,62.001
7,102,6000,0,1,0,10,62.001
18,417,5650,0,1,0,10,58.501
26,502,5335,0,1,0,10,55.351
21,445,4900,0,1,0,10,51.001
37,817,4000,0,1,0,10,42.001
28,532,4000,0,1,0,10,42.001
32,612,4000,0,1,0,10,42.001
12,258,3700,0,1,0,10,39.001
1,31,3200,0,1,0,10,34.001
38,824,3000,0,1,0,10,32.001
43,980,2800,0,1,0,10,30.001
24,473,2000,0,1,0,10,22.001
15,381,2000,0,1,0,10,22.001
34,657,1939,0,1,0,10,21.391
27,518,1900,0,1,0,10,21.001
3,47,1611,0,1,0,10,18.111
36,691,510,0,1,0,10,7.101

ðŸ“… 26th October Slot S2 Results:

,User Id,Total_Deposits,Total_Withdrawals,Deposit_Count,Withdrawal_Count,Games_Played,Loyalty_Points
30,634,227362,0,1,0,10,2275.621
19,369,200343,0,1,0,10,2005.431
27,587,135000,0,1,0,10,1352.001
17,294,123889,0,1,0,10,1240.891
6,80,100000,0,1,0,10,1002.001
15,245,70000,0,1,0,10,702.001
18,365,50000,0,1,0,10,502.001
44,949,40000,0,1,0,10,402.001
8,93,30400,0,1,0,10,306.001
47,992,30000,0,1,0,10,302.001
36,829,28500,0,1,0,10,287.001
37,836,25000,0,1,0,10,252.001
28,602,25000,0,1,0,10,252.001
1,9,20076,0,1,0,10,202.761
11,114,20000,0,1,0,10,202.001
20,372,20000,0,1,0,10,202.001
43,945,20000,0,1,0,10,202.001
31,637,18000,0,1,0,10,182.001
42,936,17753,0,1,0,10,179.531
39,880,15000,0,1,0,10,152.001
22,402,12280,0,1,0,10,124.801
35,824,12000,0,1,0,10,122.001
21,380,11000,0,2,0,10,112.002
16,274,11000,0,1,0,10,112.001
38,852,10000,0,1,0,10,102.001
2,16,9999,0,1,0,10,101.991
5,78,9900,0,1,0,10,101.001
40,888,9599,0,1,0,10,97.991
25,502,9035,0,1,0,10,92.351
32,699,7460,0,1,0,10,76.601
9,97,7000,0,1,0,10,72.001
14,187,6800,0,1,0,10,70.001
0,7,6617,0,1,0,10,68.171
23,407,6000,0,1,0,10,62.001
26,542,6000,0,1,0,10,62.001
29,604,5000,0,1,0,10,52.001
12,158,5000,0,1,0,10,52.001
33,763,4000,0,1,0,10,42.001
34,797,4000,0,1,0,10,42.001
10,106,3427,0,1,0,10,36.271
45,971,3164,0,1,0,10,33.641
7,82,2500,0,1,0,10,27.001
41,934,1500,0,1,0,10,17.001
4,50,1000,0,1,0,10,12.001
24,440,1000,0,1,0,10,12.001
13,167,1000,0,1,0,10,12.001
46,972,700,0,1,0,10,9.001
3,44,500,0,1,0,10,7.001

**2. Calculate overall loyalty points earned and rank players on the basis of loyalty points in the month of October.
     In case of tie, number of games played should be taken as the next criteria for ranking.**

In [ ]:
def calculate_october_loyalty(df):
    df['Date'] = pd.to_datetime(df['Date'])
    october_data = df[df['Date'].dt.month == 10]
    monthly = october_data.groupby('User Id').agg(
        Total_Deposits=('Amount', lambda x: x[x > 0].sum()),
        Total_Withdrawals=('Amount', lambda x: abs(x[x < 0].sum())),
        Deposit_Count=('Amount', lambda x: (x > 0).sum()),
        Withdrawal_Count=('Amount', lambda x: (x < 0).sum()),
        Total_Games=('Games_Played', 'sum')
    ).reset_index()
    monthly['Loyalty_Points'] = (
        0.01 * monthly['Total_Deposits'] +
        0.005 * monthly['Total_Withdrawals'] +
        0.001 * np.maximum(monthly['Deposit_Count'] - monthly['Withdrawal_Count'], 0) +
        0.2 * monthly['Total_Games']
    )
    monthly = monthly.sort_values(by=['Loyalty_Points', 'Total_Games'], ascending=[False, False])
    monthly['Rank'] = range(1, len(monthly) + 1)
    return monthly
october_rankings = calculate_october_loyalty(df)

print("ðŸ† Top 50 Players for October (based on loyalty points):")
display(october_rankings.head(50))

ðŸ† Top 50 Players for October (based on loyalty points):

,User Id,Total_Deposits,Total_Withdrawals,Deposit_Count,Withdrawal_Count,Total_Games,Loyalty_Points,Rank
330,634,15737705,0,67,0,670,157511.117,1
45,99,2403141,0,15,0,150,24061.425,2
77,162,2360000,0,23,0,230,23646.023,3
181,365,1802335,0,33,0,330,18089.383,4
210,415,1759843,0,6,0,60,17610.436,5
476,920,1734480,0,52,0,520,17448.852,6
182,369,1586208,0,9,0,90,15880.089,7
38,78,1484900,0,47,0,470,14943.047,8
308,587,1355000,0,8,0,80,13566.008,9
512,989,1339000,0,20,0,200,13430.020,10
215,421,1269809,0,84,0,840,12866.174,11
0,2,1270215,0,20,0,200,12742.170,12
355,678,1100000,0,1,0,10,11002.001,13
411,786,1096160,0,11,0,110,10983.611,14
360,688,1049278,0,16,0,160,10524.796,15
173,344,1024000,0,10,0,100,10260.010,16
119,245,912200,0,10,0,100,9142.010,17
40,82,819460,0,40,0,400,8274.640,18
410,785,704000,0,4,0,40,7048.004,19
102,208,657928,0,9,0,90,6597.289,20
240,464,648613,0,8,0,80,6502.138,21
513,992,616278,0,11,0,110,6184.791,22
477,921,600000,0,2,0,20,6004.002,23
222,438,594851,0,1,0,10,5950.511,24
97,200,593000,0,5,0,50,5940.005,25
103,212,589850,0,4,0,40,5906.504,26
42,93,511474,0,24,0,240,5162.764,27
459,884,502191,0,14,0,140,5049.924,28
438,836,493000,0,36,0,360,5002.036,29
491,941,479303,0,14,0,140,4821.044,30
244,471,476616,0,19,0,190,4804.179,31
65,142,471900,0,13,0,130,4745.013,32
326,625,468522,0,28,0,280,4741.248,33
448,852,442930,0,86,0,860,4601.386,34
471,909,454060,0,5,0,50,4550.605,35
114,238,445000,0,7,0,70,4464.007,36
458,880,441000,0,7,0,70,4424.007,37
73,157,433857,0,22,0,220,4382.592,38
497,949,434171,0,7,0,70,4355.717,39
176,352,429518,0,8,0,80,4311.188,40
495,946,424000,0,15,0,150,4270.015,41
6,16,418387,0,39,0,390,4261.909,42
229,448,407599,0,27,0,270,4130.017,43
268,515,400000,0,6,0,60,4012.006,44
280,540,383569,0,6,0,60,3847.696,45
436,829,376500,0,25,0,250,3815.025,46
265,508,377000,0,17,0,170,3804.017,47
384,740,365288,0,7,0,70,3666.887,48
443,845,358310,0,14,0,140,3611.114,49
478,922,353000,0,16,0,160,3562.016,50

**3. What is the average deposit amount?**

In [ ]:
avg_deposit = df[df['Amount'] > 0]['Amount'].mean()
print(f"\nAverage deposit amount: Rs {avg_deposit:.2f}")

Average deposit amount: Rs 23550.10

**4. What is the average deposit amount per user in a month?**

In [ ]:
avg_deposit_per_user = df[df['Amount'] > 0].groupby('User Id')['Amount'].sum().mean()
print(f"Average deposit per user: Rs {avg_deposit_per_user:.2f}")

Average deposit per user: Rs 163384.57

**5. What is the average number of games played per user?**

In [ ]:
avg_games = october_rankings['Total_Games'].mean()
print(f"Average games played per user: {avg_games:.1f} games")

Average games played per user: 69.4 games

Part B - How much bonus should be allocated to leaderboard players?
After calculating the loyalty points for the whole month find out which 50 players are at the top of the leaderboard. The company has allocated a pool of Rs 50000 to be given away as bonus money to the loyal players.Now the company needs to determine how much bonus money should be given to the players.Should they base it on the amount of loyalty points? Should it be based on number of games? Or something else?Thatâ€™s for you to figure out.
Suggest a suitable way to divide the allocated money keeping in mind the following points:1. Only top 50 ranked players are awarded bonus.

In [ ]:
BONUS_POOL = 50000
top_50 = october_rankings.head(50).copy()

top_50['Norm_Loyalty'] = top_50['Loyalty_Points'] / top_50['Loyalty_Points'].max()
top_50['Norm_Games'] = top_50['Total_Games'] / top_50['Total_Games'].max()

top_50['Final_Score'] = 0.7 * top_50['Norm_Loyalty'] + 0.3 * top_50['Norm_Games']

top_50['Allocated_Bonus'] = (top_50['Final_Score'] / top_50['Final_Score'].sum()) * BONUS_POOL
top_50['Allocated_Bonus'] = top_50['Allocated_Bonus'].round(2)

print("ðŸŽ‰ Hybrid Bonus Allocation (Top 50 Players):")
display(top_50[['User Id', 'Rank', 'Loyalty_Points', 'Total_Games', 'Final_Score', 'Allocated_Bonus']].head(50))

print(f"âœ… Total Bonus Distributed: â‚¹{top_50['Allocated_Bonus'].sum():.2f}")

ðŸŽ‰ Hybrid Bonus Allocation (Top 50 Players):

     User Id  Rank  Loyalty_Points  Total_Games  Final_Score  Allocated_Bonus
330      634     1      157511.117          670     0.933721          7933.28
45        99     2       24061.425          150     0.159258          1353.12
77       162     3       23646.023          230     0.185319          1574.54
181      365     4       18089.383          330     0.195508          1661.12
210      415     5       17610.436           60     0.099193           842.79
476      920     6       17448.852          520     0.258940          2200.06
182      369     7       15880.089           90     0.101969           866.37
38        78     8       14943.047          470     0.230362          1957.25
308      587     9       13566.008           80     0.088196           749.35
512      989    10       13430.020          200     0.129452          1099.88
215      421    11       12866.174          840     0.350202          2975.46
0          2    12       12742.170          200     0.126395          1073.91
355      678    13       11002.001           10     0.052383           445.06
411      786    14       10983.611          110     0.087185           740.76
360      688    15       10524.796          160     0.102588           871.63
173      344    16       10260.010          100     0.080481           683.80
119      245    17        9142.010          100     0.075512           641.58
40        82    18        8274.640          400     0.176308          1497.99
410      785    19        7048.004           40     0.045276           384.68
102      208    20        6597.289           90     0.060715           515.86
240      464    21        6502.138           80     0.056803           482.62
513      992    22        6184.791          110     0.065858           559.56
477      921    23        6004.002           20     0.033659           285.98
222      438    24        5950.511           10     0.029933           254.32
97       200    25        5940.005           50     0.043840           372.48
103      212    26        5906.504           40     0.040203           341.58
42        93    27        5162.764          240     0.106665           906.27
459      884    28        5049.924          140     0.071280           605.62
438      836    29        5002.036          360     0.147811          1255.86
491      941    30        4821.044          140     0.070263           596.98
244      471    31        4804.179          190     0.087629           744.54
65       142    32        4745.013          130     0.066436           564.47
326      625    33        4741.248          280     0.118745          1008.91
448      852    34        4601.386          860     0.320449          2722.67
471      909    35        4550.605           50     0.037665           320.02
114      238    36        4464.007           70     0.044257           376.03
458      880    37        4424.007           70     0.044079           374.52
73       157    38        4382.592          220     0.096221           817.53
497      949    39        4355.717           70     0.043776           371.94
176      352    40        4311.188           80     0.047066           399.90
495      946    41        4270.015          150     0.071302           605.81
6         16    42        4261.909          390     0.154987          1316.83
229      448    43        4130.017          270     0.112540           956.19
268      515    44        4012.006           60     0.038760           329.32
280      540    45        3847.696           60     0.038030           323.12
436      829    46        3815.025          250     0.104164           885.02
265      508    47        3804.017          170     0.076208           647.49
384      740    48        3666.887           70     0.040715           345.93
443      845    49        3611.114          140     0.064885           551.29
478      922    50        3562.016          160     0.071644           608.72

âœ… Total Bonus Distributed: â‚¹50000.01

sol:Final Score = 70% Loyalty Points + 30% Normalized Games Played
This balances loyalty and platform engagement:Rewards high loyalty scorers,But also gives weight to players who are active.
Insights from this method:
Players with both high monetary value and high engagement get more bonus.
Less active users with very high deposits are still rewarded.
Very active users (even with moderate deposits) are not ignored.

Part C

Would you say the loyalty point formula is fair or unfair?

Can you suggest any way to make the loyalty point formula more robust?

The current loyalty point formula is relatively fair as it transparently rewards users for both monetary activity (deposits and withdrawals) and gameplay. It encourages user participation by assigning weight to deposits and number of games played, which aligns well with business objectives like user engagement and revenue generation. However, the formula is not without limitations. The heavier weight on deposits may unintentionally encourage users to deposit repeatedly without genuine engagement, while the minimal weight on games played undervalues consistent player activity. Additionally, there is no penalty for users who withdraw more frequently or are inactive for extended periods. To make the system more robust, the formula could be enhanced by balancing the financial weights, adding a bonus for games won to reward skill, applying multipliers for consistent activity, and introducing decay for inactivity. These improvements would create a more balanced and fair system that encourages not just financial transactions but also sustained and meaningful platform engagement.